/Parking.Repository/bin
/Parking.Repository/obj
/Parking.UI/obj
/Parking.UI/bin
/Parking.UI/Content/DataTables
/Parking.UI/Scripts/DataTables
/Parking.DAL/bin
/Parking.DAL/obj
/Parking.Helper/obj
/Parking.Helper/bin
